* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #eee;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.container {
    width: 300px;
    height: 500px;
    margin: 150px auto;
    background-color: rgb(78,129,242);
    position: relative;
}

i:first-child {
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: white;
    cursor: pointer;
}

i:nth-child(2) {
    color: white;
    position: absolute;
    top: 2rem;
    left: 7.5rem;
}

.container h3 {
    position: absolute;
    top: 6rem;
    left: 5rem;
    color: white;
    font-weight: 600;
}

.container p:first-of-type {
    position: absolute;
    top: 6.2rem;
    left: 10.5rem;
    width: 35px;
    height: 20px;
    background-color: rgb(60,108,216);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px;
}

.container p:nth-of-type(2) {
    position: absolute;
    top: 8.5rem;
    left: 3rem;
    color: white;
}

.app {
    position: absolute;
    bottom: 0rem;
    width: 299px;
    height: 290px;
    background-color: rgb(16,25,46);
}

.app a:first-child {
    position: absolute;
    top: 4rem;
    left: 7.5rem;
    text-decoration: none;
    color: gray;
}

.app a:nth-child(2) {
    position: absolute;
    top: 6.8rem;
    left: 7.2rem;
    text-decoration: none;
    color: gray;
}

.app a:nth-child(3) {
    position: absolute;
    top: 9.8rem;
    left: 7.8rem;
    text-decoration: none;
    color: gray;
}

.app a:nth-child(4) {
    position: absolute;
    bottom: 1.5rem;
    left: 1.7rem;
    width: 242px;
    height: 40px;
    border: 1px solid #eee;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
}

.app a:nth-child(1):hover {
    color: white;
}

.app a:nth-child(2):hover {
    color: white;
}

.app a:nth-child(3):hover {
    color: white;
}

.app a:nth-child(4):hover {
    background-color: white;
    color: black;
}